<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title><%=title %></title>
</head>
<body>
<form action="" method="post" class="box">
	<h1>Login Form</h1>
	<div class="form-element">
		<label style="color:white">Username</label>
		<input type="text" name="username" placeholder="enter username">
		
	</div>
	<div class="form-element">
		<label style="color:white">Password</label>
		<input type="password" name="password" placeholder="enter password">

	</div>
	<div class="form-element">
		<input type="submit" value="Login" name="login">
	</div>
	<button><a href="/reg">create account</a></button>
</form>
</body>
</html>